In [1]:
import pandas as pd

In [5]:
school_id_list = [{'name': 'John', 'job': "teacher"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Yuna', 'job': "teacher"},
                {'name': 'Abraham', 'job': "student"},
                {'name': 'Brian', 'job': "dev"},
                {'name': 'Janny', 'job': "student"},
                {'name': 'Nate', 'job': "police"},
                {'name': 'John', 'job': "student"}
         ]
df = pd.DataFrame(school_id_list, columns = ['name', 'job'])
df

      name      job
0     John  teacher
1     Nate  teacher
2     Yuna  teacher
3  Abraham  student
4    Brian      dev
5    Janny  student
6     Nate   police
7     John  student

In [6]:
df.job.unique()

array(['teacher', 'student', 'dev', 'police'], dtype=object)

중복값은 제거되서 나온다.

In [7]:
df.job.value_counts()

teacher    3
student    3
dev        1
police     1
Name: job, dtype: int64